* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #efffff;
}
body {
  background: #1b1d20;
}

a {
  text-decoration: none;
  color: #efffff;
}

ul {
  list-style-type: none;
}

.nav-menu {
  background: #000000;
}

.footer {
  background: #000000;
  height: 120px;
  text-align: center;
}
