* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #efffff;
}
body {
  background: #01050d;
}

a {
  text-decoration: none;
  color: #efffff;
}

ul {
  list-style-type: none;
}

.nav-menu {
  background: #0b1222;
}

.footer {
  background: #0b1222;
}
